<header id="navigation" class="p-navigation">
    <div class="p-navigation__row">
        <div class="p-navigation__banner">
            <div class="p-navigation__logo">
                <a class="p-navigation__link u-vertically-center p-link--logo" href="{{ $.Site.Home.Permalink }}">
                    {{ $.Site.Title }}
                </a>
            </div>
            
            <a href="#navigation" class="p-navigation__toggle--open" title="menu">
                <i class="p-icon--menu"></i>
            </a>
            <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">
                <i class="p-icon--close"></i>
            </a>
        </div>

        <nav class="p-navigation__nav">
            <span class="u-off-screen">
                <a href="#main-content">{{ i18n "jumpToMainContent" | default "Jump to main content" }}</a>
            </span>

            <ul class="p-navigation__links" role="menu">
                {{ range $.Site.Menus.main }}
                <li class="p-navigation__link" role="menuitem">
                    <a href="{{ .URL }}">{{ i18n .Identifier | default .Name }}</a>
                </li>
                {{ end }}
            </ul>

            {{ if $.Site.Params.searchGoogleEnabled | default true }}
            {{ partial "search-google.html" . }}
            {{ end }}
        </nav>
    </div>
</header>