{{ $hasPostInfo := or .Params.Date (or .Params.Authors .Params.Author) }}

<div class="row">

    {{ if $hasPostInfo }}
    <div class="col-8">
        {{ partial "single/post-info.html" . }}
    </div>
    {{ end }}

    {{ if $.Param "shareLinksEnabled" | default true }}
    <div class="col-4 {{ if $hasPostInfo }} col--share-links {{end}}">
        {{ partial "single/share-links.html" . }}
    </div>
    {{ end }}

</div>

{{ if .IsTranslated }}
<div class="row">
    <div class="col-12 u-margin-bottom--small">
        {{ partial "single/i18n-list.html" . }}
    </div>
</div>
{{ end }}

{{ if .Params.tags }}
<div class="row">
    <div class="col-12">
        {{ partial "single/tags.html" . }}
    </div>
</div>
{{ end }}