{{ $hasAuthorInfo := or .Params.Authors .Params.Author }}
{{ $hasDateInfo := .Params.Date }}

{{ if or $hasAuthorInfo $hasDateInfo }}

<div class="p-media-object">

    {{ if $hasAuthorInfo }}

        {{ $avatarUrl := "images/icon-user--single.png"}}

        {{ with .Params.Authors }}

        {{ if gt (len .) 1 }} {{/* For multi-author posts */}}

                {{ $avatarUrl = "images/icon-user--multi.png"}}

                {{ else }}

                    {{ with $.Site.GetPage (printf "/%s/%s" "authors" ((index . 0) | urlize)) }}
                    {{ $avatarUrl = (.Params.AvatarUrl | default $avatarUrl) }}
                    {{ end }}
                    
                    {{ end }}
                    
                    {{ end }}

                    <img src='{{ $avatarUrl | absURL }}' alt="Author's Avatar" class="p-media-object__image is-round">

    {{ end }}

    <div class="p-media-object__details">

        {{ partial "single/authors.html" . }}

        {{ if .Params.Date }}
        <p class="p-media-object__content">
            <span class="u-capitalized">{{ i18n "onDate" | default "on" }}</span>
            {{ .Date.Format "2006-01-02" }}
        </p>
        {{ end }}

    </div>
</div>

{{ end }}