[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-theme-okayish-blog"]
	path = themes/hugo-theme-okayish-blog
	url = https://github.com/kongdivin/hugo-theme-okayish-blog.git
[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo.git
